.DS_Store

# Java / Maven
backend/target/
backend/.gradle/
backend/build/
.gradle-local/
*.log

# Node / Vite
frontend/node_modules/
frontend/dist/
frontend/*.tsbuildinfo
frontend/vite.config.js
frontend/vite.config.d.ts

# Env
.env
.env.*
!.env.example

# IDE
.idea/
.vscode/

# Npm Cache
.npm-cache/

# Etc
.tooling/
.worktrees
